@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poly:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.active {
  border-bottom: 3px solid #b3550a;
}

.contact {
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-repeat: no-repeat;
  background-color: var(--pale-blue);
  min-height: 100vh;
  background-size: contain;
  display: grid;
  justify-content: space-between;
  padding: 0 10%;
  position: relative;
}

.contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background-image: url("./assets/contact.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.text {
  color: white;
  margin-right: 21%;
  margin-bottom: 6rem;
  display: grid;
  gap: 2rem;
  z-index: 100;
  position: absolute;
  bottom: 35%;
  left: 10%;
}

.contact-us {
  z-index: 100;
  background: #fff;
  width: 418px;
  height: 544px;
  margin-top: 116px;
  margin-left: calc(622px - 398px);
  padding: 40px 50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display: grid;
  position: absolute;
  top: 1%;
  right: 10%;
}

.contact-us label {
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 24pt;
  color: #637381;
  margin-bottom: 6px;
}

.contact-us input,
.contact-us textarea {
  display: block;
  width: 90%;
  line-height: 24pt;
  border: none;
  outline: none;
  border-bottom: 0.5px outset;
  margin-bottom: 12pt;
  color: #637381;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: normal;
}

.contact-us ::placeholder {
  color: #637381;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: normal;
}

.contact-us button {
  display: block;
  line-height: 24pt;
  width: 107px;
  height: 40px;
  padding: 5px;
  border: none;
  background: #b3550a;
  margin-top: 24px;
  color: white;
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  border-bottom: 2px solid transparent;
  outline: none;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.contact-us button:hover {
  background: inherit;
  color: #b3550a;
  border-bottom: 2px solid #b3550a;
}

.social {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  position: absolute;
  bottom: 20%;
  left: 10%;
  font-family: "Inter", sans-serif;
}

.social img {
  width: 31px;
  height: 31px;
}

.location {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  width: 293px;
  height: 80px;
}

.location div {
  display: grid;
  gap: 1rem;
}

.mail {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  width: 240px;
  height: 85px;
}

.mail div {
  display: grid;
  gap: 1rem;
}

.detail h3 {
  font-size: 16px;
  font-weight: 500;
  color: #212b36;
}

.detail p {
  font-size: 14px;
  font-weight: normal;
  color: #637381;
}

@media only screen and (max-width: 768px) {
  .contact {
    padding: 3%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    overflow-x: hidden;
  }

  .contact::before {
    height: 100%;
  }

  .text,
  .contact-us,
  .social {
    position: relative;
  }

  .text {
    margin-right: 0;
    gap: 1rem;
    margin-block: 0;
  }

  .contact-us {
    width: 100%;
    margin-inline: auto;
  }

  .social {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }

  .contact-us {
    width: 100%;
    max-width: none;
    margin-top: 4%;
    margin-left: 10%;
  }

  .social {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }

  .social h3,
  .social p  {
    color: white;
  }
  
  .social div {
    width: 100%;
    max-width: none;
  }

  .location, .mail {
    width: 100%;
    max-width: none;
    margin-right: 2%;
  }
}

@media only screen and (max-width: 576px) {
  .contact-us input,
  .contact-us textarea {
    font-size: 10pt;
  }

  .contact-us button {
    max-width: 100%;
  }
}
